USE [TestFalabella]
GO
/****** Object:  Table [dbo].[N_CLIENTE_PRODUCTO]    Script Date: 23/12/2019 3:16:25 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[N_CLIENTE_PRODUCTO](
	[IdClienteProducto] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
 CONSTRAINT [PK_N_CLIENTE_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[IdClienteProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
